RewriteEngine On 
RewriteBase /

RewriteCond %{HTTP_HOST} ^www.domain\.tld$ [NC]
RewriteRule ^(.*)$ http://domain.tld/$1 [L,R=301]

RewriteRule ^index.html$ / [L,R=301]

RewriteRule ^([a-zA-z0-9]+).html$ /$1   [L,R=301]
