@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: local('./Karla-Bold.ttf'), local('Karla-Bold.woff2'),
       format('ttf'), format('woff'); 
}

.navbar-custom {
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: white;
  font-weight: bold;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link {
  color: black;
  font-weight: bold;
}
.navbar-custom .nav-item:hover .nav-link {
  color: rgb(88, 243, 166);
}

body{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    text-align: center;
    text-align: center;
    background-color: black;
    font-family: 'Karla', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    width: 100%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    margin: 0px;
}
.navbar{
  padding: 5px;
}

.nav-item{
  margin: 0px 2px;
  width: 110px;
  font-size: 14px;
  background-color: rgb(57, 123, 247);
  border-radius: 5px 5px 0px 0px;  
}

li:hover{
  background-color: black;
  
/* background-color: rgb(157, 252, 165); */
}
#logo{
  width: auto;
  text-align: left;
}
#logo img{
  width: 35%;
  height: 35%;

}
#navbarTogglerDemo01{
  padding: 0px;
  margin: 0px;
  border-bottom: 3px solid white;
}


@media all and (max-width: 992px){
  .navbar{
    padding: 0px;
    margin: 0px;
    width: 110px;
  }
  
  #navbarTogglerDemo01{
    padding: 0px;
    margin: 0px;
    border-bottom: 2px solid white;
    box-sizing: border-box;
  }
  .nav-item{
    margin: 0px 0px 2px 0px;
    font-size: 15px;
    background-color: rgb(57, 123, 247);
    border-radius: 5px 0px 0px 0px;
    color: black;
}

.navbar-toggler-icon{
  background-color: white;
}
  
}

#resultSection{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: space-evenly; 
    width: 100%;    
}
.resultDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color:rgb(255, 247, 235); */
    height: 640px;
    width: 100%;
    margin: 5px 10px;
    box-sizing: border-box;
    border-radius: 10px; 
}
iframe{
  border: 5px solid black;
  border-radius: 10px;
}
@media all and (max-width: 1200px) {
    /* For mobile phones: */
    .resultDisplay{
        width: 100%;
        height: 600px;
        margin: 5px 10px;
    }  
    iframe{
      width: 90%;
      height: 100%;
      border: 5px solid black;
      border-radius: 10px;
    }
}
@media all and (max-width: 960px) {
  /* For mobile phones: */
  .resultDisplay{
      width: 100%;
      height: 450px;
      margin: 5px 15px;
  }
  iframe{
    border: 5px solid black;
    border-radius: 10px;
    width: 95%;
  }
}
@media all and (max-width: 640px) {
  /* For mobile phones: */
  .resultDisplay{
      width: 100%;
      height: 300px;
      margin: 5px 15px;
  }
}
@media all and (min-width: 40px) and (max-width:480) {
  /* For mobile phones: */
  .resultDisplay{
      width: 100%;
      height: 10px;
      margin: 5px 15px;
  }
  iframe{
    width: 100%;
    height: 100%;
    border: 5px solid black;
    border-radius: 10px;
  }
}


#covidTableSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 0px 10px;
    height: max-content;
    margin: 0px;
    width: 95%;
}
#covidTableSection h1{
  color: white;
  font-weight: bolder;
  margin: 0px;
}
.table{
  width: 100%;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 10px;
  height: 400px;
  /* padding: 5px 50px; */
}
@media only screen and (max-width:320px){
    #covidTableSection{
      background-color: red;
    }
}
#newsFeedSection{
  margin: 10px 0px;
}
#newsFeed{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0px;
    padding: 2.5px;
}
.news {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 7.5px 10px;
    padding: 0px;
    height: 100%;
    /* border: 1px solid white; */
    text-align: center;
} 

.news h2{
    font-size: 12px;
    color: white;
  font-weight: bold;
}
.news p{
  font-size: 10px;
  
}
.imageLink {
  width: 100%;
  /* max-height: 50%; */
  /* box-sizing: border-box; */
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bolder;
  width: 100%;
  padding: 10px 0px;
  margin: 0px 5px 5px 5px;
}
footer > p{
  padding: 0px;
  margin: 0px;
}

.icon{
  width: 2em;
  height: 2em;
  margin: 10px;
  color: white;
  background-color: white;
}

#contactDetails{
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  padding: 0px;
}
#contactDetails p{
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 1em;
}
#contactDetails .icon{
  width: 1.5em;
  height: 1.5em;
  margin: 0px 5px 0px 0px;
}
@media all and (max-width: 640px) {
  /* For mobile phones: */
  .icon{
    width: 1em;
    height: 1em;
    margin: 2px;
    color: white;
    background-color: white;
  }
  
  #contactDetails p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 0.75em;
  }
  #contactDetails .icon{
    width: 1em;
    height: 1em;
    margin: 0px 2.5px 0px 0px;
  } 
}
@media all and (max-width: 480px) {
  /* For mobile phones: */
  .icon{
    width: 1em;
    height: 1em;
    margin: 2px;
    color: white;
    background-color: white;
  }
  
  #contactDetails p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 0.75em;
  }
  #contactDetails .icon{
    width: 1em;
    height: 1em;
    margin: 0px 2.5px 0px 0px;
  }
  
}

[data-tab-content] {
    display: none;
    color: white;
    font-weight: bolder;
  }
  
  .active[data-tab-content] {
    display: flex;
    justify-content: center;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0px;
    padding: 2px 0px 0px 0px;
    border-bottom: 2px solid white;
    font-weight: bolder;
    font-size: 1em;
    color: white;
  }
  
  .tab {
    cursor: pointer;
    padding: 3px;
    font-size: 1em;
    text-align: center;
  }
  @media only screen and (max-width: 640px) {
    /* For mobile phones: */
    .tabs{
        width: 100%;
        font-size: 0.75em;
    }
  }
  @media only screen and (max-width: 480px) {
    /* For mobile phones: */
    .tabs{
        width: 100%;
        font-size: 0.75em;
    }
  }
  .tab.active {
    background-color: rgb(57, 123, 247);
    border-radius: 5px 5px 0px 0px;
    color: black;
    font-weight: bolder;
  }
  
  .tab:hover {
    background-color: rgb(57, 123, 247);
  }
  
  .tab-content {
    margin-left: 0px;
    margin-right: 0px;
  }
  