@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: local('./Karla-Bold.ttf'), local('Karla-Bold.woff2'),
       format('ttf'), format('woff'); 
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: normal;
  src: local('Titillium Web'), url('TitilliumWeb-Regular.woff') format('woff');
  }
@font-face {
  font-family: 'Muli Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Muli Regular'), url('Muli-Regular.woff') format('woff');
}
@font-face {
  font-family: 'PT Serif Regular';
  font-style: normal;
  font-weight: normal;
  src: local('PT Serif Regular'), url('PT_Serif-Web-Regular.woff') format('woff');
}
      
.navbar-custom {
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: white;
  font-weight: bold;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link {
  color: black;
  font-weight: bold;
}
.navbar-custom .nav-item:hover .nav-link {
  color: rgb(88, 243, 166);
}

body{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    text-align: center;
    text-align: center;
    background-color: black;
    font-family: 'Karla', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    width: 100%;
    /* padding-top: 2.5em; */
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.25rem;
    margin: 0px 0px 15px 0px;
    background-color: rgba(1, 1, 20, 0.9);

}
#siteHeading h1{
  color: white;
}
.navbar{
  padding: 0px 10px;
  width: 100%;
}

.nav-item{
  margin: 0px 2px;
  width: 110px;
  font-size: 14px;
  background-color: rgb(57, 123, 247);
  border-radius: 5px 5px 0px 0px;  
}
.navbar-nav{
  border-bottom: 3px solid white;
}
li:hover{
  background-color: black;
/* background-color: rgb(157, 252, 165); */
}
.navbar-brand{
  width: 15%;
}
#logo img{
  width: 100%;
  height: 100%;
}
#navbarTogglerDemo01{
  padding: 0px;
  margin: 0px;
  justify-content: flex-end;

}


@media all and (max-width: 992px){
  header{
    padding: 0em;
    margin: 0px;
  }
  #logo img{
    width: 100%;
    height: 100%;
  }
  .navbar-brand{
    width: 25%;
  }
  .navbar{
    padding: 2.55px 10px;
    margin: 0px;
    width: 100%;
  }
  .navbar-nav{
    /* width: fit-content; */
    border-bottom: none;
    /* background-color: red; */
    background-color: rgba(1, 1, 20, 0.9);

  }
  #navbarTogglerDemo01{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: black;    
  }
  .nav-item{
    /* width: 10em; */
    margin: 0px 0px 2px 0px;
    font-size: 15px;
    background-color: rgb(57, 123, 247);
    border-radius: 5px 0px 0px 0px;
    color: black;
    align-self: flex-end;

}
.navbar-toggler{
  padding: 0%;
    margin: 0%;
}
  .navbar-toggler-icon{
    background-color: white;
    
  }
}

#resultSection{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: space-evenly; 
    width: 80%;    
}
.iframe-container{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 55%;
}
.responsive-iframe{
  border: 2px solid black;
  border-radius: 10px;
  margin: 0px auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#resultDisplay1{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 10px;

}
#resultDisplay2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
    margin: 10px 10px;
    padding: 0px auto;
    box-sizing: border-box;
    border-radius: 10px; 
}
.resultDisplay{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0px auto;
  box-sizing: border-box;
}
@media all and (max-width: 1200px) {
  #siteHeading h1{
    /* font-size: 2.0em; */
    margin: 0px;
  }
  #resultSection{
    width: 90%;
  }
  .iframe-container{
    padding-top: 55%;
  }
  .responsive-iframe{
    width: 100%;
  }
}
@media all and (max-width: 960px) {
  /* For mobile phones: */
  #siteHeading h1{
    font-size: 2.0em;
    margin: 0px;
  }
  #resultSection{
    width: 95%;
  }
  .iframe-container{
    padding-top: 55%;
  }
  .responsive-iframe{
    width: 100%;
  }
}
@media all and (max-width: 640px) {
  /* For mobile phones: */
  #siteHeading h1{
    font-size: 1.75em;
    margin: 0px;
  }
  .iframe-container{
    padding-top: 57.5%;
  }
  .responsive-iframe{
    width: 100%;
  }
}
@media all and (min-width: 40px) and (max-width:480px) {
  /* For mobile phones: */
  #siteHeading h1{
    font-size: 1.5em;
  }
  #resultSection{
    width: 100%;
  }
  .iframe-container{
    padding-top: 60%;
  }
  .responsive-iframe{
    width: 100%;
  }
}


#covidTableSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3.5em;
    padding: 0px 10px;
    height: max-content;
    width: 80%;
}
#covidTableSection h1{
  color: white;
  font-weight: bolder;
  margin: 0px;
}
.table{
  width: 100%;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 10px;
  height: 400px;
  /* padding: 5px 50px; */
}
/* @media all and (min-width: 1280px) {
  #covidTableSection{
    width: 72%;
  } */
@media all and (max-width: 1280px) {
#covidTableSection{
  width: 90%;
}
}
@media all and (max-width: 960px) {
  #covidTableSection{
    width: 95%;
  }
}
@media all and (max-width: 640px) {
  #covidTableSection{
    width: 95%;
  }
}
@media all and (min-width: 40px) and (max-width:480px) {
    #covidTableSection{
      width: 100%;      
    }
    #covidTableSection h1{
      color: white;
      font-weight: bolder;
      margin: 0px;
      font-size: 1.5em;
    }
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  width: 100%;
  padding: 0px 0px;
  margin: 5px 0px 0px 0px;
  background-color: rgba(1, 1, 20, 0.9);
  font-family: 'PT Serif Regular', "Muli Regular", "Titillium Web";
}
footer > p{
  padding: 0px;
  margin: 0px;
}

.icon{
  width: 2em;
  height: 2em;
  margin: 10px;
  color: white;
  background-color: white;
}
.icon:hover{
  border: 2px solid rgb(68, 114, 240);
}
#contactDetails{
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  padding: 0px;
}
#contactDetails p{
  margin: 0px;
  padding: 0px;
  font-weight: lighter;
  font-size: 1.5em;
  font-family: 'Arial', 'PT Serif Regular', 'Muli Regular';
}
#contactDetails .icon{
  width: 1.5em;
  height: 1.5em;
  margin: 0px 5px 0px 0px;
}
@media all and (max-width: 997px) {
  /* For mobile phones: */
  .icon{
    width: 1.5em;
    height: 1.5em;
    margin: 5px;
    color: white;
    background-color: white;
  }
  
  #contactDetails p{
    margin: 0px;
    padding: 0px;
    font-weight: lighter;
    font-size: 1.5em;
  }
  #contactDetails .icon{
    width: 1em;
    height: 1em;
    margin: 0px 2.5px 0px 0px;
  } 
}

@media all and (max-width: 640px) {
  /* For mobile phones: */
  .icon{
    width: 1em;
    height: 1em;
    margin: 2px;
    color: white;
    background-color: white;
  }
  
  #contactDetails p{
    margin: 0px;
    padding: 0px;
    font-weight: lighter;
    font-size: 0.85em;
  }
  #contactDetails .icon{
    width: 1em;
    height: 1em;
    margin: 0px 2.5px 0px 0px;
  } 
}
@media all and (max-width: 480px) {
  /* For mobile phones: */
  .icon{
    width: 1em;
    height: 1em;
    margin: 2px;
    color: white;
    background-color: white;
  }
  
  #contactDetails p{
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    font-size: 0.8em;
    /* font-family: 'PT Serif Regular'; */
  }
  #contactDetails .icon{
    width: 1em;
    height: 1em;
    margin: 0px 2.5px 0px 0px;
  }
  
}

[data-tab-content] {
    display: none;
    color: white;
    font-weight: bolder;
    /* background-color: yellow; */
    /* margin: 0px;
    padding: 0px; */
  }
  
  .active[data-tab-content] {
    display: flex;
    justify-content: center;
  }
  
  .tabs {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    border-bottom: 2px solid white;
    font-weight: bolder;
    font-size: 1.4em;
    color: white;
    /* border: 0px solid blue; */
    width: 60%;
  }
  
  .tab {
    cursor: pointer;
    padding: 5px;
    font-size: 1.5em;
    text-align: center;
    width: fit-content;
    margin: 0px 2.5px;
  }
  @media only screen and (min-width: 1280px) {
    /* For mobile phones: */
    .tabs{
        /* font-size: 1.25em; */
        justify-content: space-around;
        width: 90%;
        padding: 0px;
    }
  }

  @media only screen and (max-width: 1280px) {
    /* For mobile phones: */
    .tabs{
        font-size: 1.0em;
        justify-content: space-around;
        width: 90%;
        padding: 0px;
    }
    .tab {
      padding: 0px 2px;
      /* font-size: 0.75em; */
      text-align: center;
      width: fit-content;
      margin: 0px 2.5px;
    }
  }
  @media only screen and (max-width: 992px) {
    /* For mobile phones: */
    .tabs{
        font-size: 0.9em;
        justify-content: space-around;
        width: 90%;
        padding: 0px;
    }
    .tab {
      padding: 0px 2px;
      /* font-size: 0.75em; */
      text-align: center;
      width: fit-content;
      margin: 0px 2.5px;
    }
  }

  @media only screen and (max-width: 640px) {
    /* For mobile phones: */
    .tabs{
        width: 95%;
        justify-content: center;
        padding: 0px;
        margin: 0px;
    }
    .tab {
      padding: 0px 2px;
      font-size: 1.3em;
      text-align: center;
      width: fit-content;
      margin: 0px 2px;
    }
  }
  @media only screen and (max-width: 480px) {
    /* For mobile phones: */
    .tabs{
        width: 100%;
        padding: 0px;
        margin: 0px;
        justify-content: space-around;
    }
    .tab {
      padding: 0px 1px;
      font-size: 0.95em;
      text-align: center;
      width: fit-content;
      margin: 0px 1px;
    }
  }
  .tab.active {
    background-color: rgb(57, 123, 247);
    border-radius: 5px 5px 0px 0px;
    color: black;
    font-weight: bolder;
  }
  
  .tab:hover {
    background-color: rgb(57, 123, 247);
  }
  
  .tab-content {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    margin: 0px;
  }
  

  #sourcesDiv{
    margin-top: 20px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;    
  }

  #sourcesDiv h2{
    font-size: 3em;
    color: white;
  }
      
.sourcesGroup{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.source{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  width: 400px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  height: 320px;
  background-color: rgba(1, 1, 20, 0.69);
  transition: transform 1s ease-in-out;
  border: 1px solid white;
  box-shadow: 2px 2px 10px white;
  /* box-shadow: 5px 5px 5px 0 rgba(255, 2, 0, 0.82), 0 6px 20px 0 rgba(0, 255, 0, 0.69); */
}


.source:hover{
border: 1px solid rgb(80, 171, 247);
padding: 5px;
margin: 10px;
animation-name: zoomIn;
animation-duration: 2s;
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
transform: scale(1.05);

}

@keyframes zoomIn{
0% {
  /* background-color: red; */
  /* transform: scale(1); */
}
100% {
  background-color: black;
  /* transform: scale(1.1); */

}
}

.sourceImage{
    width: 50%;
    margin: 0px 0px 5px 0px;
      
}
.sourceHeading{
    font-weight: bold;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0px;
    font-size: 2em;
    font-family: 'Arial', 'Titillium Web';
    border-bottom: 1px solid white;

}
.source a{
  text-decoration: none;
}
.sourceDescription{
  text-align: center;
  color: white;
  font-family: "Helvetica", "Titillium Web";
  font-size: 1.2em;
}
@media all and (max-width:480px){
  .source{
    width: 80%;
    margin: 10px 0px;
    padding-top: 10px;
    height: 300px;
    border: 1px solid white;
    background-color: rgba(1, 1, 20, 0.75);
  }
  .sourceHeading{
    font-size: 1.25em;
    border-bottom: 1px solid white;
  }
  .sourceDescription{
    font-size: 1.1em;
  }
  #sourcesDiv h2{
    font-size: 2.0em;
  }
}


.aboutUs{
  color: white;
  margin: 10px 0px 0px 0px;
}
#aboutUsDiv{
  display: flex;
  justify-content: center;
  margin: 0px 0px 25px 0px;
  padding: 5px 5px;
}
#aboutUsSection{
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10px;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
}
.companyProfile {
  font-size: 1.2em;
  padding: 10px;
  text-align: left;
  width: 90%;
  background-color: rgba(1, 1, 1);
  font-family: 'PT Serif Regular', "Muli Regular", "Titillium Web", "Helvetica Neue",Arial,"Noto Sans","Karla", sans-serif;
  font-weight: normal;
}

#projectContributors{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.contributorGroup{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  /* background-color: pink; */
}

.profile{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 280px;
  margin: 20px 50px;
  padding: 0px;
  border-radius: 15px;
  height: 400px;
  background-color: rgba(1, 1, 20);
}
.profileImage{
  width: 100%;
  height: 70%;
  margin: 0px 0px 0px 0px; 
  padding: 0px;
  border-radius: 15px 15px 0px 0px;
}
.profileName{
  font-size: 2.em;
  margin: 0px;
  padding: 0%;
  font-family: "Titillium Web";
  font-weight: normal;
}
.profileDescription{
  font-size: 1em;
  margin: 0px;
  padding: 0%;
  font-family: 'Arial', "Titillium Web", "PT Serif Regular", "Muli Regular", ;
  font-weight: lighter;
}


@media all and (max-width:480px){
  .profile{
    width: 80%;
    margin: 10px 0px;
    padding-top: 0px;
    height: max-content;
    background-color: rgba(1, 1, 20, 0.95);
  }
  .profileImage{
    width: 100%;
  }
  .profileHeading{
    font-size: 1.25em;
  }
  .profileDescription{
    font-size: 0.80em;
    font-family: "Titillium Web";
  }
  .contributorHeader{
    font-size: 1.5em;
  }
  .companyProfile{
    font-size: 1.08em;
    text-align: justify;
    width: 100%;
    background-color: rgba(1, 1, 1);
    margin: 0px 0px 5px 0px;
    font-family: "Titillium Web", "Helvetica Neue",Arial,"Noto Sans","Karla", sans-serif;
    font-weight: normal;
    padding-top: 0%;
  }
  #aboutUsDiv{
    margin: 0px 0px 5px 0px;
    padding: 0px;
  }
  .aboutUs{
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px;
    padding: 0%;
  }
  #aboutUsSection{
    padding-top: 0px;
  }
}
           

#staySafeDiv{
  font-family: 'Titillium Web';
  margin: 0px;
  padding-top: 1.5em ;
  padding-bottom: 0em;
  margin-bottom: 1em;
}
.staySafe{
  font-size: 1.2em;
  text-align: left;
  width: 90%;
  color: white;
  background-color: rgba(1, 1, 1);
  font-family: "Titillium Web", "Helvetica Neue",Arial,"Noto Sans","Karla", sans-serif;
  font-weight: lighter;
}
#staySafeIntro{
  font-size: 1.2em;
}
.staySafe p{
  font-size: 1.35em;
}
.staySafe h2{
  font-size: 1.3em;
  text-align: center;
}
.staySafe h3{
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.safeTip{
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 1.5em;
  padding-top: 1em;
  padding-left: 0.5em;

  background-color: rgb(7, 7, 15); 
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.75);
  align-items: center;
  margin: 0 auto;
}

.safeTip img{
  width: 100%;
  height: auto;
  /* border-top-left-radius: 10px; */
}
.safeTip p{
  font-size: 2em;
  line-height: 1.3em;
  color: white;
  font-family: 'Arial';
  font-weight: normal;
  padding: 0.5em 0.25em 0em 0.25em;
  margin: 0%;
}
  
@media all and (min-width:760px) and (max-width:1280px){
  .safeTip{
    grid-template-columns: 40% 60%;
  }
  .safeTip img{
    width: 100%;
    height: auto;
  }
  .safeTip p{
    font-size: 1.5em;
    line-height: 1.5em;
  }
}
  @media all and (min-width:640px) and (max-width:760px){
    .safeTip{
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 5px;
    }
    
    .safeTip img{
      width: 80%;
    }
    .safeTip p{
      font-size: 1.5em;
      line-height: 1.25em;
    }
  }
  @media all and (min-width:480px) and (max-width:640px){
    .safeTip{
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 5px;
    }
    
    .safeTip img{
      width: 80%;
    }
    .safeTip p{
      font-size: 1.5em;
      line-height: 1.25em;
    }
  }
  
  @media all and (max-width:480px){
    #staySafeIntro{
      font-size: 1.25em;
      line-height: 1.25em;
    }
     .safeTip{
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 5px;
    }
    
    .safeTip img{
      width: 80%;
    }
    .safeTip p{
      font-size: 1.3em;
      line-height: 1.25em;
    }
    .staySafe h2{
      font-size: 1.2em;
      text-align: center;
    }
    .staySafe h3{
      text-align: center;
      font-size: 1.1em;
      margin-bottom: 0.1em;
    }
  }


  #innerCarouselStaySafe{
    width: 82.5%;
    margin: 0 auto;
    padding: 0%;
    /* background-color: red; */
  }
  #carouselExampleIndicators{
    width: 90%;
    /* background-color: red; */
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 3em;
  }
  .carousel-indicators {
    margin-bottom: 2.5px;
    margin-top: 0px;
    padding: 0%;
  }


  
  @media (max-width: 992px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}



