body{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: black; */

    padding: 0.5rem;
}
.navbar{
  padding: 5px;
  /* background-color: blue; */
}

.navbar-toggler {
  background-color: rgb(57, 123, 247);
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  margin: 0px;
  font-weight: bolder;
}
.navbar-toggler span{
  display: none;
  padding: 0px;
  margin: 0px;
}

#navbarNav{
  padding: 0px;
  margin: 0px;
  border-bottom: 3px solid white;
  /* background-color: blue; */
}
nav li{
    margin: 0px 5px;
    background-color: rgb(57, 123, 247);
    border-radius: 5px 5px 0px 0px;
    color: black;
    margin: 2px;
}
.nav-link{
  font-weight: bolder;
  color:white;
}
li:hover{
  background-color: black;
  /* background-color: rgb(157, 252, 165); */
}
#logo img{
    background-color: lightcoral;
    width: 50px;
    height: 50px;
}
#resultSection{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: space-evenly; 
    width: 100%;
    /* background-color: yellow; */
    /* box-sizing: border-box; */
    
}
.resultDisplay{
    background-color:rgb(255, 247, 235);
    height: 450px;
    width: 45%;
    padding: 10px 10px;
    margin: 5px 2.5px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  
}
@media all and (max-width: 1280px) {
    /* For mobile phones: */
    .resultDisplay{
        width: 45%;
        height: 350px;
        margin: 5px 2.5px;
    }  
}
@media all and (max-width: 960px) {
  /* For mobile phones: */
  .resultDisplay{
      width: 100%;
      height: 500px;
      margin: 5px 15px;
  }
}
@media all and (max-width: 640px) {
  /* For mobile phones: */
  .resultDisplay{
      width: 100%;
      height: 350px;
      margin: 5px 15px;
  }
}
@media all and (max-width: 480px) {
  /* For mobile phones: */
  .resultDisplay{
      width: 100%;
      height: 300px;
      margin: 5px 15px;
  }
}
#covidTableSection{
  display: flex;
  flex-direction: column;
    text-align: center;
    margin: 0px;
    padding: 5px;
    /* background-color: indianred; */
}
#covidTableSection h1{
  color: white;
  font-weight: bolder;
}
.table{
  overflow-x: hidden;
  overflow-y: auto;
  /* border: 1px solid red; */
  margin: 0px;
  height: 400px;
  /* background-color: khaki; */
  color: white;
  font-size: 15px;
}
#newsFeedSection{
  margin: 10px 0px;
  /* border: 1px solid white; */
}
#newsFeed{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    margin: 0px;
    padding: 5px;
}
/* .news {
    width: 20%;
    margin: 5px;
    padding: 5px;
    height: 100%;
    border: 1px solid white;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
} 
*/
.news h2{
    font-size: 12px;
    color: white;
  font-weight: bold;
}
.news p{
  font-size: 10px;
  
}
.imageLink {
  width: 100%;
  max-height: 50%;
  box-sizing: border-box;
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bolder;
  padding: 10px;
  margin: 0px 5px 5px 5px;
}
footer > p{
  padding: 0px;
  margin: 0px;
}

.icon{
  width: 2em;
  height: 2em;
  margin: 10px;
  color: white;
  background-color: white;
}

#contactDetails{
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  padding: 0px;
}
#contactDetails p{
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 1em;
}
#contactDetails .icon{
  width: 1.5em;
  height: 1.5em;
  margin: 0px 5px 0px 0px;
}
@media all and (max-width: 640px) {
  /* For mobile phones: */
  .icon{
    width: 1em;
    height: 1em;
    margin: 2px;
    color: white;
    background-color: white;
  }
  
  #contactDetails p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 0.75em;
  }
  #contactDetails .icon{
    width: 1em;
    height: 1em;
    margin: 0px 2.5px 0px 0px;
  } 
}
@media all and (max-width: 480px) {
  /* For mobile phones: */
  .icon{
    width: 1em;
    height: 1em;
    margin: 2px;
    color: white;
    background-color: white;
  }
  
  #contactDetails p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 0.75em;
  }
  #contactDetails .icon{
    width: 1em;
    height: 1em;
    margin: 0px 2.5px 0px 0px;
  }
  
}

[data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display: flex;
    justify-content: center;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0px;
    padding: 2px 0px 0px 0px;
    border-bottom: 1px solid black;
    font-weight: bolder;
    font-size: 1em;
  }
  
  .tab {
    cursor: pointer;
    padding: 3px;
    font-size: 1em;
    text-align: center;
  }
  @media only screen and (max-width: 640px) {
    /* For mobile phones: */
    .tabs{
        width: 100%;
        font-size: 0.75em;
    }
  }
  .tab.active {
    background-color: rgb(57, 123, 247);
    border-radius: 5px 5px 0px 0px;

  }
  
  .tab:hover {
    background-color: rgb(157, 252, 165);
  }
  
  .tab-content {
    margin-left: 0px;
    margin-right: 0px;
  }
  





  /*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/
@media (min-width: 768px) and (max-width: 991px) {
  /* Show 4th slide on md if col-md-4*/
  .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;  /*change this with javascript in the future*/
      z-index: -1;
      display: block;
      visibility: visible;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  /* Show 3rd slide on sm if col-sm-6*/
  .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -50%;  /*change this with javascript in the future*/
      z-index: -1;
      display: block;
      visibility: visible;
  }
}
@media (min-width: 576px) {
  .carousel-item {
      margin-right: 0;
  }
  /* show 2 items */
  .carousel-inner .active + .carousel-item {
      display: block;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
      transition: none;
  }
  .carousel-inner .carousel-item-next {
      position: relative;
      transform: translate3d(0, 0, 0);
  }
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }
  /* farthest right hidden item must be also positioned for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }
}
/* MD */
@media (min-width: 768px) {
  /* show 3rd of 3 item slide */
  .carousel-inner .active + .carousel-item + .carousel-item {
      display: block;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none;
  }
  .carousel-inner .carousel-item-next {
      position: relative;
      transform: translate3d(0, 0, 0);
  }
  /* left or forward direction */
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }
  /* right or prev direction */
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }
}
/* LG */
@media (min-width: 991px) {
  /* show 4th item */
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
      display: block;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
      transition: none;
  }
  /* Show 5th slide on lg if col-lg-3 */
  .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -25%;  /*change this with javascript in the future*/
      z-index: -1;
      display: block;
      visibility: visible;
  }
  /* left or forward direction */
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }
  /* right or prev direction //t - previous slide direction last item animation fix */
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }
}